<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>

    <div class="background-image">
      <h1>Customer Request Management System</h1>
    </div>

    <%- include('partials/script') %>
  </body>
</html>
